feined-server.s11a.com {
  # bun-app:8080 is the docker container running the Node.js application
  # in our case it's exposed on port 4000
  reverse_proxy bun-app:8080  {
    header_down Strict-Transport-Security max-age=31536000;
   }
}